@import "tailwindcss";
@import "@nuxt/ui";

/* Lekton for all table content */
table {
  font-family: 'Lekton', monospace;
}

/* Sticky table header */
thead tr th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--ui-bg);
}

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #6BD425;
  --color-green-500: #6BD425;
  --color-green-600: #58B31F;
  --color-green-700: #468F18;
  --color-green-800: #356B12;
  --color-green-900: #254C0C;
  --color-green-950: #182D08;

  --color-dark-50: oklch(98.4% 0.003 247.858);
  --color-dark-100: oklch(96.8% 0.007 247.896);
  --color-dark-200: oklch(92.9% 0.013 255.508);
  --color-dark-300: oklch(86.9% 0.022 252.894);
  --color-dark-400: oklch(70.4% 0.04 256.788);
  --color-dark-500: oklch(55.4% 0.046 257.417);
  --color-dark-600: oklch(44.6% 0.043 257.281);
  --color-dark-700: oklch(37.2% 0.044 257.287);
  --color-dark-800: oklch(27.9% 0.041 260.031);
  --color-dark-900: oklch(20.8% 0.042 265.755);
  --color-dark-950: oklch(12.9% 0.042 264.695);

  --color-light-50: oklch(98.5% 0 0);
  --color-light-100: oklch(96.7% 0.001 286.375);
  --color-light-200: oklch(92% 0.004 286.32);
  --color-light-300: oklch(87.1% 0.006 286.286);
  --color-light-400: oklch(70.5% 0.015 286.067);
  --color-light-500: oklch(55.2% 0.016 285.938);
  --color-light-600: oklch(44.2% 0.017 285.786);
  --color-light-700: oklch(37% 0.013 285.805);
  --color-light-800: oklch(27.4% 0.006 286.033);
  --color-light-900: oklch(21% 0.006 285.885);
  --color-light-950: oklch(14.1% 0.005 285.823);
}
